{% extends "_base.html" %}

{% block title %}Constellations{% endblock title %}

{% block content %}
    <h1><a href='{% url "dbeve_universe:universe" %}'>Universe</a> -> Constellations</h1>
{{ status }}
<br>
{% for constellation in constellations %}
    <div>
        <a href="https://zkillboard.com/constellation/{{ constellation.constellation_id }}/">{{ constellation.constellation_id }}</a>
        {{ constellation.position_x }}
        {{ constellation.position_y }}
        {{ constellation.position_z }}
        <a href="https://zkillboard.com/region/{{ constellation.region.region_id }}/">{{ constellation.region.region_id }}</a>
    </div>
{% endfor %}
{% endblock content %}

