{% extends "_base.html" %}
{% block title %}Universe{% endblock title %}

{% block content %}
    <div>
        <a class="p-2 text-dark" href="{% url 'dbeve_universe:regions' %}">Regions</a>
    </div>
    <div>
        <a class="p-2 text-dark" href="{% url 'dbeve_universe:constellations' %}">Constellations</a>
    </div>
    <div>
        <a class="p-2 text-dark" href="{% url 'dbeve_universe:systems' %}">Systems</a>
    </div>
    <div>
        <a class="p-2 text-dark" href="{% url 'dbeve_universe:stars' %}">Stars</a>
    </div>
{% endblock content %}
