{% extends "_base.html" %}

{% block title %}Requests to ESI{% endblock title %}

{% block content %}
    <h1>Requests to ESI</h1>
    <a href='{% url "requests_to_esi:parse_regions"%}'>Parse regions</a>
    <br>
    <a href='{% url "requests_to_esi:parse_constellations"%}'>Parse constellations</a>
    <br>
    <a href='{% url "requests_to_esi:parse_systems"%}'>Parse systems</a>
    <br>
    <a href='{% url "requests_to_esi:parse_stars"%}'>Parse stars</a>
    <br>
    <a href='{% url "requests_to_esi:get_one_system"%}'>Request one system</a>
    <br>
    <br>
    <br>
    <br>
    <h1>Get data form DB</h1>
    <a href='{% url "requests_to_esi:all_lines"%}'>All data in db</a>
{% endblock content %}
