{% extends "_base.html" %}

{% block title %}Requests to ESI{% endblock title %}

{% block content %}
    <h1>Requests to ESI</h1>
    <h2>Universe</h2>
    <a href='{% url "requests_to_esi:parse_regions"%}'>Parse regions</a>
    <br>
    <a href='{% url "requests_to_esi:parse_constellations"%}'>Parse constellations</a>
    <br>
    <a href='{% url "requests_to_esi:parse_systems"%}'>Parse systems</a>
    <!-- <br> -->
    <!-- <a href='{#% url "requests_to_esi:parse_one_system"%}'>Parse one system</a> -->
    <br>
    <a href='{% url "requests_to_esi:parse_stars"%}'>Parse stars</a>
    <br>
    <h2>Social</h2>
    <a href='{% url "requests_to_esi:parse_alliances"%}'>Parse alliances</a>
    <br>
    <a href='{% url "requests_to_esi:load_id_associated_corporations"%}'>Update response body - load id associated corporations for alliances</a>
    <br>
    <a href='{% url "requests_to_esi:parse_corporations"%}'>Parse corporations</a>
    <br>
    <a href='{% url "requests_to_esi:parse_characters"%}'>Parse characters</a>
    <br>
    <a href='{% url "requests_to_esi:load_corporation_history"%}'>Update response body - load corporation history characters</a>
    <br>
{% endblock content %}
