{% extends "_base.html" %}

{% block title %}Parse corporations{% endblock title %}

{% block content %}
    <h1>Parsing corporations associated with alliances</h1>
    {% if exception %}
        {{ exception }}
        {{ exception.extra_info }}
    {% else %}
        <form method="post" action={% url "requests_to_esi:parse_associated_corporations" %}>
            {% csrf_token %}
            <input type="submit" value="Parse associated corporations">
        </form>
    {% endif %}
{% endblock content %}
