{% extends "_base.html" %}
{% block title %}Social{% endblock title %}

{% block content %}
    <div>
        <a class="p-2 text-dark" href="{% url 'dbeve_social:one_alliance' 99012122 %}">Hold my probs alliance</a>
    </div>
    <div>
        <a class="p-2 text-dark" href="{% url 'dbeve_social:all_alliances' %}">All alliances</a>
    </div>
    <div>
        <a class="p-2 text-dark" href="{% url 'dbeve_social:all_corporations' %}">All corporations</a>
    </div>
    <div>
        <a class="p-2 text-dark" href="{% url 'dbeve_social:all_characters' %}">All characters</a>
    </div>
    <div>
        <a class="p-2 text-dark" href="{% url 'dbeve_social:all_relates' %}">All relates</a>
    </div>
{% endblock content %}
