{% extends "_base.html" %}
{% load static %}

{% block title %}Markup battlereport{% endblock title %}

{% block content %}
    <!-- -------------------- Блок ссылки на БР -------------------- -->
    <hr>
    <h4>Battlereport</h4>
    <hr>
    <div class="show_battlereport">
        <a class="p-2 text-dark" href="https://br.evetools.org/br/{{ battlereport_id }}/">br.evetools.org</a>
    </div>
    <br>
    <!-- -------------------- Блок выбора типов шипов -------------------- -->
    <hr>
    <h4>Ships</h4>
    <hr>
    <div id="block_shiptypes" class="container">
        {% for chunk in shiptypes4 %}
            <div class="row">
                {% for shiptype in chunk %}
                    <div class="col-3">
                        <div class="row justify-content-md-left my-1">
                            <div class="col col-md-auto pr-1 pl-1">
                                <input type="checkbox" class="checkbox_shiptypes" ship_id="{{ shiptype.type_id }}" value="on" checked>
                            </div>
                            <div class="col col-md-auto pr-1 pl-1">
                                <img src="https://images.evetech.net/types/{{ shiptype.type_id }}/render?size=32" title="{{shiptype.name}}">
                                <label>
                                    {{shiptype.name|truncatechars:20}}
                                </label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="button" onclick="SetCheckboxesInThisBlock(this)">Set</button>
        <button type="button" onclick="ClearCheckboxesInThisBlock(this)">Clear</button>
        <button type="button" onclick="UpdateKillmails(this)">Update killmails</button>
    </div>
    <br>
    <!-- -------------------- Блок выбора альянсов -------------------- -->
    <hr>
    <h4>Alliances</h4>
    <hr>
    <div id="block_alliances" class="container">
        {% for chunk in alliances4 %}
            <div class="row">
                {% for alliance in chunk %}
                    <div class="col-3">
                        <div class="row justify-content-md-left my-1">
                            <div class="col col-md-auto pr-1 pl-1">
                                <input type="checkbox" class="checkbox_alliances" alliance_id="{{ alliance.alliance_id }}" value="on" checked>
                            </div>
                            <div class="col col-md-auto pr-1 pl-1">
                                <img src="https://images.evetech.net/alliances/{{ alliance.alliance_id }}/logo?size=32" title="{{alliance.name}}">
                                <label>
                                    {{alliance.name|truncatechars:20}}
                                </label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="button" onclick="SetCheckboxesInThisBlock(this)">Set</button>
        <button type="button" onclick="ClearCheckboxesInThisBlock(this)">Clear</button>
        <button type="button" onclick="UpdateKillmails(this)">Update killmails</button>
    </div>
    <br>
    <!-- -------------------- Блок выбора корпорации -------------------- -->
    <hr>
    <h4>Corporations</h4>
    <hr>
    <div id="block_corporations" class="container">
        {% for chunk in corporations4 %}
            <div class="row">
                {% for corporation in chunk %}
                    <div class="col-3">
                        <div class="row justify-content-md-left my-1">
                            <div class="col col-md-auto pr-1 pl-1">
                                <input type="checkbox" class="checkbox_corporations" corporation_id="{{ corporation.corporation_id }}" value="on" checked>
                            </div>
                            <div class="col col-md-auto pr-1 pl-1">
                                <img src="https://images.evetech.net/corporations/{{ corporation.corporation_id }}/logo?size=32" title="{{corporation.name}}">
                                <label>
                                    {{corporation.name|truncatechars:20}}
                                </label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="button" onclick="SetCheckboxesInThisBlock(this)">Set</button>
        <button type="button" onclick="ClearCheckboxesInThisBlock(this)">Clear</button>
        <button type="button" onclick="UpdateKillmails(this)">Update killmails</button>
    </div>
    <br>
    <!-- -------------------- Блок всех киллмыл -------------------- -->
    <hr>
    <h4>Killmails</h4>
    <form id="form-filter-list-flow" method="POST" class="form-inline" action={% url 'compensation:notes_compensations' %}>
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><input type='radio' name='select_price' id ='radio_price' value='select_price'></th>
                        <th><input type='radio' name='select_price' id ='radio_average_price' value='select_average_price' checked ></th>
                        <th></th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th>Corp/Alli</th>
                        <th>Shiptype</th>
                        <th>Price</th>
                        <th>Average price</th>
                        <th>Compense</th>
                    </tr>
                </thead>
                <tbody>
                    {% for killmail in killmails %}
                    <tr>
                        <td>
                        {% if killmail.checked_for_compense %}
                            <input type="checkbox" class="checkbox_killmails" ship_id="{{ killmail.victim.ship_id }}" alliance_id="{{ killmail.victim.alliance_id }}" corporation_id="{{ killmail.victim.corporation_id }}" value="on" checked name="{{ killmail.killmail_id }}" >
                        {% else %}
                            <input type="checkbox" class="checkbox_killmails" ship_id="{{ killmail.victim.ship_id }}" alliance_id="{{ killmail.victim.alliance_id }}" corporation_id="{{ killmail.victim.corporation_id }}" value="on" name="{{ killmail.killmail_id }}">
                        {% endif %}
                        </td>
                        <td>
                            <a href="https://zkillboard.com/alliance/{{ killmail.victim.alliance_id }}/"><img src="https://images.evetech.net/alliances/{{ killmail.victim.alliance_id }}/logo?size=32" title="{{killmail.victim.alliance.name}}"></a>
                        </td>
                        <td>
                            <a href="https://zkillboard.com/corporation/{{ killmail.victim.corporation_id }}/"><img src="https://images.evetech.net/corporations/{{ killmail.victim.corporation_id }}/logo?size=32" title="{{killmail.victim.corporation.name}}"></a>
                        </td>
                        <td>
                            <a href="https://zkillboard.com/character/{{ killmail.victim.character_id }}/"><img src="https://images.evetech.net/characters/{{ killmail.victim.character_id }}/portrait?size=32" title="{{killmail.victim.character.name}}"></a>
                        </td>
                        <td>
                            <a href="https://zkillboard.com/kill/{{ killmail.killmail_id }}/"><img src="https://images.evetech.net/types/{{ killmail.victim.ship_id }}/render?size=32" title="{{killmail.victim.ship.name}}"></a>
                        </td>
                        <td>
                            <a class="text-dark" href="https://zkillboard.com/character/{{ killmail.victim.character_id }}/">{{ killmail.victim.character.name|truncatechars:20 }}</a>
                        </td>
                        <td>
                            <a class="text-dark" href="https://zkillboard.com/alliance/{{ killmail.victim.alliance_id }}/">{{ killmail.victim.alliance.ticker }}</a> / <a class="text-dark" href="https://zkillboard.com/corporation/{{ killmail.victim.corporation_id }}/">{{ killmail.victim.corporation.ticker }}</a>
                        </td>
                        <td>
                        <a class="text-dark" href="https://zkillboard.com/kill/{{ killmail.killmail_id }}/">{{ killmail.victim.ship.name|truncatechars:20 }}</a>
                        </td>
                        <td>
                        {{ killmail.round_sumv }} kk ISK
                        </td>
                        <td>
                        {{ killmail.average_price }} kk ISK
                        </td>
                        <td>
                        <input type="number" value="{{ killmail.round_sumv }}" name="{{ killmail.killmail_id }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="battlereport" value="{{ battlereport_id }}">
            <hr>
            <button type="submit" class="btn btn-primary">Create list compenstaions</button>
            <hr>
        </div>
    </form>
{% endblock content %}
