{% extends "_base.html" %}
{% load static %}

{% block title %}Compensations{% endblock title %}

{% block content %}
    <br>
    <div>
        <a class="p-2 text-dark" href="https://br.evetools.org/br/{{ battlereport }}/">br.evetools.org</a>
    </div>

    <!-- блок списка компенсов -->
    <hr>
    <br>
    <div id="toCompensations">
        {% for compensation in compensations %}
            {{ compensation }}
            <br>
        {% endfor %}
    </div>
    <br>
    <button onclick="CopyTextContainer('toCompensations')" title="Copy compensations">Copy compensations</button>
    <br>

    <!-- блок имен для письма -->
    <hr>
    <br>
    <div id="toNames">
        {{ names_for_email }}
    </div>
    <br>
    <button onclick="CopyTextContainer('toNames')" title="Copy names">Copy names</button>
    <br>

    <!-- блок тела письма -->
    <hr>
    <br>
    <div id="toBodyMail">
        {{ body_mail }}
    </div>
    <br>
    <button onclick="CopyTextContainer('toBodyMail')" title="Copy body mail">Copy body mail</button>
    <br>
    <hr>
    <br>




{% endblock content %}
